<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Ketarn - Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div style="text-align: center;">
    <a href="/dashboard">Home</a>
    <h1 th:inline="text">Welcome to Ketarn admin page, <u>[[${LoggedUser.userName}]]</u></h1>
    <hr/>
    <h1 th:inline="text">Total users: [[${usersLength}]]</h1>
    <h1 th:inline="text">Total projects: [[${projectsLength}]]</h1>
    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
                    <h3 class="uk-projectItem-title">Ban user</h3>

                    <form th:action="@{/BanUser}" method="post">
                        <input th:name="ban_userName" type="text" placeholder="username">
                        <input type="submit" value="Ban">
                    </form>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
                    <h3 class="uk-projectItem-title">Unban user</h3>
                    <form th:action="@{/UnbanUser}" method="post">
                        <input th:name="unban_userName" type="text" placeholder="username">
                        <input type="submit" value="Unban">
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
                    <h3 class="uk-projectItem-title">Give sub</h3>
                    <form th:action="@{/givesub}" method="post">
                        <input th:name="sub_userName" type="text" placeholder="username">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
            <h4 th:if="${uuid}" th:text="${uuid}"></h4>
            <h3 class="uk-projectItem-title">Generate UUID</h3>
            <form th:action="@{/giveuuid}" method="post">
                <input type="submit" value="Generate">
            </form>
        </div>
    </div>

</div>

</body>
</html>