<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ketarn - Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div style="text-align: center;">
    <a href="/dashboard">Home</a>
    <h1 th:inline="text">Welcome to Ketarn admin page, <u>[[${LoggedUser.userName}]]</u></h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Illuminati-Logo.png" width="100" height="100">
    <hr/>
    <h1 th:inline="text">Total users: [[${usersLength}]]</h1>
    <h1 th:inline="text">Total projects: [[${projectsLength}]]</h1>
    <hr/>

    <h1 style="color: green;" th:if="${msg}" th:text="${msg}"></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
                    <h3 class="uk-projectItem-title">Ban user</h3>
                    <h3 style="color: red;" th:if="${err_ban}" th:text="${err_ban}"></h3>

                    <form th:action="@{/BanUser}" method="post">
                        <input th:name="ban_userName" type="text" placeholder="username">
                        <input type="submit" value="Ban">
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
                    <h3 class="uk-projectItem-title">Unban user</h3>
                    <h3 style="color: red;" th:if="${err_unban}" th:text="${err_unban}"></h3>

                    <form th:action="@{/UnbanUser}" method="post">
                        <input th:name="unban_userName" type="text" placeholder="username">
                        <input type="submit" value="Unban">
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
            <h3>Get user's information</h3>
            <form th:action="@{/getUserInfo}" method="post">
                <input type="text" th:name="username" placeholder="Username">
                <input type="submit" value="Find">
            </form>

            <h3 th:if="${userInfo}" th:text="${userInfo}" style="white-space: normal;"></h3>
        </div>
        <br/>
        <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
            <h3>Get project information</h3>
            <form th:action="@{/getProjectInfo}" method="post">
                <input type="text" th:name="projectName" placeholder="Project">
                <input type="submit" value="Find">
            </form>

            <h3 th:if="${projectInfo}" th:text="${projectInfo}" style="white-space: normal;"></h3>
        </div>
        <br/>
        <div class="uk-projectItem uk-projectItem-default uk-projectItem-body" style="border: 1px solid #888;">
            <h4 th:if="${uuid}" th:text="${uuid}"></h4>
            <h3 class="uk-projectItem-title">Generate UUID</h3>
            <form th:action="@{/giveuuid}" method="post">
                <input type="submit" value="Generate">
            </form>
        </div>
    </div>

</div>

</body>
</html>