<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/material.min.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="css/mustard-ui.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pricing-table row">
    <div class="package featured">
        <p class="package-name">Small Business</p>
        <hr>
        <p class="price">$12</p>
        <p class="disclaimer">per user</p>
        <hr>
        <ul class="features">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
            <li>Feature 5</li>
        </ul>
        <button class="button-primary">Get Started</button>
    </div>
</div>

</body>
</html>