<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>

<div class="uk-position-center text-center">
    <h1>You are not a member of <b><u>[[${projectName}]]</u></b></h1>

    <form th:action="@{/sendARequest}" method="post">

        <input type="hidden" th:name="projectName" th:value="*{projectName}">
        <input type="hidden" th:name="userName" th:value="*{LoggedUser.userName}">

        <input type="submit" class="uk-button uk-button-default btn" value="Send a request" style="border: 2px solid #999999;"/>
    </form>
</div>

</body>
</html>