<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ketarn</title>
    <link rel="stylesheet" href="css/uikit.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mustard-ui.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>

</head>
<body>

<nav class="uk-navbar uk-navbar-container uk-margin nn-nav">
    <div class="uk-navbar-left left-menu">
        <a href="#offcanvas-slide" class="uk-button uk-button-default" uk-toggle>
            <span uk-icon="menu"></span>
        </a>

        <!-- A SIDEBAR MENU IF YOU VISIT A WEBSITE FROM A SMARTPHONE / TABLET -->
        <div id="offcanvas-slide" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-default">
                    <h3 class="eina"><span uk-icon="bolt"></span> Ketarn</h3>
                    <hr class="uk-divider-icon">
                    <li class="uk-active eina"><a href="/register">Register</a></li>
                    <li class="uk-active eina"><a href="/signin">Sign in</a></li>
                </ul>

            </div>
        </div>
    </div>


    <div class="uk-navbar-center">
        <a href="" class="uk-navbar-item uk-logo eina"><span uk-icon="bolt"></span> Ketarn</a>
    </div>

    <div class="uk-navbar-right right-menu">
        <a href="/register" class="uk-button uk-button-text nav-btn b eina"><span uk-icon="users"></span> Register</a>
        <a href="/signin" class="uk-button uk-button-text nav-btn b eina"><span uk-icon="user"></span> Sign in</a>
    </div>
</nav>

<section class="text-center">
    <div class="container">

        <div th:if="${successMsg}" class="uk-alert-success" uk-alert style="padding: 20px;">
            <a class="uk-alert-close" uk-close></a>
            <p class="eina text-center" th:text="${successMsg}" style="font-size: 1.2rem;"></p>
        </div>

        <div th:if="${errorMsg}" class="uk-alert-danger" uk-alert style="padding: 20px;">
            <a class="uk-alert-close" uk-close></a>
            <p class="eina text-center" th:text="${errorMsg}" style="font-size: 1.2rem;"></p>
        </div>

        <h1 class="big-header eina">Welcome to Ketarn</h1>
        <hr/>
        <p class="eina big-p">
            Explore a beautiful place to have your work process organized and goals completed.
        </p>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px;">
                <a href="/tutorial">
                    <button class="button-primary-outlined"><span uk-icon="question"></span> Tutorial</button>
                </a>
            </div>
            <div class="col-sm-4" style="margin-top: 10px;">
                <a href="/register">
                    <button class="button-primary-outlined"><span uk-icon="users"></span> Register</button>
                </a>
            </div>
            <div class="col-sm-4" style="margin-top: 10px;">
                <a href="/signin">
                    <button class="button-primary-outlined"><span uk-icon="user"></span> Sign in</button>
                </a>
            </div>
        </div>
    </div>

    <hr/>

    <h1 class="big-header eina">How it works?</h1>
    <p class="eina big-p">There are some pictures showing the website's purpose: you can create, manage your projects, achieve goals by working together and having everything planned</p>

    <div class="container">
        <div uk-slideshow="animation: fade;" style="width: 100%; border: 2px solid #777; margin: 0px auto;">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="/imgs/1.png" uk-cover>

                    <div class="uk-position-center uk-position-small" style="background: #233;">
                        <span class="w p-5">Getting letters to your inbox</span>
                    </div>
                </li>
                <li>
                    <img src="/imgs/2.png" uk-cover>

                    <div class="uk-position-center uk-position-small" style="background: #233;">
                        <span class="w p-5">Adding new tasks to your projects</span>
                    </div>
                </li>
                <li>
                    <img src="/imgs/3.png" uk-cover>

                    <div class="uk-position-center uk-position-small" style="background: #233;">
                        <span class="w p-5">Discussing things in a chat</span>
                    </div>
                </li>
                <li>
                    <img src="/imgs/4.png" uk-cover>

                    <div class="uk-position-center uk-position-small" style="background: #233;">
                        <span class="w p-5">How your dashboard looks</span>
                    </div>
                </li>
                <li>
                    <img src="/imgs/5.png" uk-cover>

                    <div class="uk-position-center uk-position-small" style="background: #233;">
                        <span class="w p-5">How project's dashboard looks</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>

<style>
    .p-5 {
        padding: 5px;
    }
</style>

</body>
</html>