<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.name + ' chat'}"></title>
    <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2 class="text-center" th:text="${project.name + ' chat'}"></h2>
    <div class="row text-center">
        <div class="col-sm-6">
            <a th:href="${'/project/' + project.name}">Back</a>
        </div>
        <div class="col-sm-6">
            <a href="#/" onclick="scrollToDown();">Scroll to down</a>
        </div>
    </div>
    <hr/>
    <h2 class="text-center" th:if="${#lists.size(project.chatMessages) == 0}">No messages so far</h2>

    <ul>
        <li th:each="message: ${project.chatMessages}" style="list-style: none;">
            <article class="uk-comment uk-comment-primary">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#" th:text="${message.sender}"></a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#" th:text="${message.timeStamp}"></a></li>
                        </ul>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p th:text="${message.text}" style="white-space: pre-line;"></p>
                </div>
            </article>
            <br/>
        </li>
    </ul>

    <footer>
        <form style="display: flex;" th:action="@{/sendMessageToChat}" method="post">
            <input type="hidden" th:name="projectName" th:value="*{project.name}">
            <input class="uk-input" type="text" th:name="message" placeholder="Message">
            <input type="submit" value="Send">
        </form>
    </footer>

    <script>
        function scrollToDown()
        {
            window.scrollTo(0,document.body.scrollHeight);
        }
    </script>
</body>
</html>